.container{
    border:3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height:80vh; 
    background-color: rgb(206, 156, 156); 
    /* gap:20px; */
    row-gap:1px;   
    column-gap:70px;
    flex-wrap: wrap;
    flex-direction:row;
}  

#demo{
    color:aqua;
    /* Removed invalid property: first-letter: capital; */
}


.box{
    flex-grow:1;
    height:80px;
    width:80px;
    background-color: rgb(134, 165, 85);
    color:rgb(220, 137, 184);
    border:10px solid black;
    border-radius: 15%;
    padding:10px;

    
}
     
.box:hover{
     width: 150px;
    height: 150px;
    background-color: rgb(250, 250, 250);
    animation: textblink 1s infinite;

    transition: all 0.5s ease;
}
    
@keyframes textblink {
    0%   { color: rgb(38, 192, 33); background-color: rgb(221, 71, 71); }
    50%  { color: rgb(155, 8, 35); background-color: white; }
    100% { color: rgb(103, 204, 232); background-color: rgb(158, 83, 166); }

}

.box::first-letter{
    text-transform: capitalize;
    font-size: 200%;
    color: yellow;
    font-weight: bold;
}

#b1{   
    order:2;
    /* flex-grow:9; */
}

#b2{  
    order:3;
    /* align-self:baseline; */
}

#b3{   
    order:4;
    /* flex-grow:7; */
    flex-shrink:3;

}